.formReportsContent{
  width: 100%;
  height: 100%;
  display: flex;
}
  .formContent{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    .formContent form{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
      .dateInfo{
        width: 100%;
        height: 15%;
        box-sizing: border-box;
        padding: 10px;
      }
      .description{
        width: 100%;
        height: 75%;
        box-sizing: border-box;
        padding: 10px;
      }
        .description textarea{
          width: 98%;
          height: 90%;
          border: none;
          box-sizing: border-box;
          padding: 10px;
          border-radius: 15px;
          font-size: 13px;
          outline: none;
          resize: none;
        }
      .btnSubmit{
        width: 100%;
        height: 8%;

        box-sizing: border-box;
        padding-right: 30px;
      }
.reportsList{
  width: 25%;
}
.reportsList h3{
  border-bottom: solid 2px black;
}

.visualization:hover{
  cursor: pointer;
  color: var(--cubiqColor);
}
.ulReports{
  width: 100%;
  height: 95%;
  overflow-x: scroll;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px;
}
.ulReports li{
  list-style: none;
  }
.iconView{
  margin-left: 15px;
  }
  .iconView:hover{
    cursor: pointer;
    color: var(--cubiqColor);
  }