*{
    padding: 0;
    margin: 0;
}
::placeholder{
    color: rgb(161, 161, 161);
}

:root{
    --cubiqColor: #EA094B;
    --darkBg: #111111;
}

.centerCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerVer{
    display: flex;
    align-items: center;
}

.centerHor{
    display: flex;
    justify-content: center;
}

.formContent{
    width: 100%;
    height: 100%;
    /* background-color: salmon; */
  }

  .formContent input,select{
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    margin: 5px;
    padding-left: 5px;
  }
  
  .btnSubmit{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    /* padding-right: 100px; */
  }
    .buttonSub{
      width: 170px;
      height: 100%;
      border-radius: 12px;
      border: none;
      background-color: var(--cubiqColor);
      color: white;
    }
  
    .buttonSub:hover{
      font-weight: 600;
      box-shadow: black 0 0 10px;
      text-shadow: white 0 0 30px;
    }